html {
    font-size: 1em
}
@media screen and (max-width: 768px) {
h1 {
    font-size: calc(2em + 1vw);
    text-align: center;
}
h2 {
    font-size: calc(1.5em + 1.5vw);
    text-align: center;
}
h3 {
    font-size: calc(1.25em + 1.25vw);
    text-align: center;
}
p, li {
    font-size: calc(1em + 1vw);
    line-height: 1
}
p {
    font-size: calc(1em + 1vw);
    line-height: 1.5;
}
.center{
    font-size: 1em;
    line-height: 1;
    text-align: center;
}
}
@media screen and (min-width: 769px) { 
h1 {
    font-size: calc(2em + 1vw);
    text-align: center;
}
h2 {
    font-size: calc(1.5em + 1.5vw);
    text-align: center;
}
h3 {
    font-size: calc(1.25em + 1.25vw);
    text-align: center;
}
p, li {
    font-size: calc(1em + 1vw);
    line-height: 1
}
p {
    font-size: calc(1em + 1vw);
    line-height: 1.5;
}

.center{
    font-size: 1em;
    line-height: 1;
    text-align: center;
}
}
body {
    width: 80vw;
    margin: 0 auto;
    background-color: white;
    padding: 0 2vw 2vw 2vw;
}
html {
    background-color: white;
}
img {
  display: block; 
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}

nav {
    background-color: #333; /* Choose your color */
    padding: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; /* Space between links */
}
nav a {
    color: white; /*  Choose your link color */
    text-decoration: none; /* Remove default underline */
}
