html {
    font-size: 1em
}

h1 {
    font-size: calc(1.5rem + 3vw);
    text-align: center;
}
h2 {
    font-size: calc(1.25rem + 2vw);
    text-align: center;
}
h3 {
    font-size: calc(1rem + 1vw);
    text-align: center;
}
p, li {
    font-size: calc(1rem + 1vw);
    line-height: 1
}
p {
    font-size: calc(1rem + 1vw);
    line-height: 1.5;
}

.center{
    font-size: 1rem;
    line-height: 1;
    text-align: center;
}

body {
    width: 80vw;
    margin: 0 auto;
    background-color: white;
    padding: 0 2vw 2vw 2vw;
}
html {
    background-color: skyblue;
}
img {
    display: block;
    margin: 0 auto;
}
